<div class="container">
    <h4>Upload Screen</h4>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div>
        <br/>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Book</th>
                <th>Chapter</th>
                <th>Verse</th>
                <th>Section</th>
                <th>Type</th>
                <th>BFlight</th>
                <th>Unpublished</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questionArray">
                <td>{{question.book}}</td>
                <td>{{question.chapter}}</td>
                <td>{{question.verse}}</td>
                <td>{{question.section}}</td>
                <td>{{question.type}}</td>
                <td>{{question.isBFlight}}</td>
                <td>{{question.isUnpublished}}</td>
                <td>{{question.question}}</td>
                <td>{{question.answer}}</td>
            </tr>
        </tbody>
    </table>
</div>